body
{
    line-height: 40px; 
}

table
{
    width: 75%;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid #000;
    text-align: center;
}

tr:hover {background-color: lightblue;}

chartDiv
{
    display: inline-block;
    width: 700px;
    vertical-align: top;
    margin-right: 100px;
}

tableDiv
{
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #444;
    width: 150px;
}

input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #444;
    width: 150px;
    vertical-align: top;
}

option:hover {background-color: lightblue;}

hiddenDiv
{
    display: none;
}

algoDropdown
{
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

stockDropdown
{
    display: inline-block;
    margin-right: 100px;
    vertical-align: top;
}

popup
{
    display: none;
}
  
.hide {
    display: none;
}

runDiv {
    margin-top: 80px;
    display: inline-block;
}

strong {
    display: none;
}

button.slide {
    outline: none;
    height: 35px;
    text-align: center;
    width: 130px;
    border-radius: 150px;
    background: #fff;
    border: 2px solid #000;
    color: #444;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

button.slide:hover {
    color: white;
    background: #000;
}

button.slide:active {
    letter-spacing: 2px;
}