body
{
    line-height: 40px; 
}

table
{
    width: 75%;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid #000;
    text-align: center;
}

tr:hover {background-color: lightblue;}

chartDiv
{
    display: inline-block;
    width: 700px;
}

select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #444;
}

option:hover {background-color: lightblue;}

hiddenDiv
{
    display: none;
}

algoDropdown
{
    display: inline-block;
    margin-right: 100px;
}

stockDropdown
{
    display: inline-block;
    margin-right: 100px;
}

popup
{
    display: none;
}
  